<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Description
            </th>
            <th>
                Balance
            </th>
        </tr>
    </thead>
    <tbody data-ng-repeat="account in CheckingAccounts">
        <tr>
            <td>
                {{account.Id}}
            </td>
            <td>
                <a href="#/balances/detail/{{account.Id}}">{{account.Description}}</a>
            </td>
            <td>
                {{account.Balance | currency}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                
            </td>
            <td></td>
            <td >
                {{sum() | currency}}
            </td> 
        </tr>
    </tfoot>
</table>


